pytest==8.3.4
pytest-cov==6.0.0
pytest-timeout==2.3.1
pytest-mock-resources[redis]==2.12.1
python-on-whales==0.74.0
pytest-rerunfailures==15.0
pytest-asyncio==0.24.0
python-keycloak==5.0.0
python-slugify>=8.0.4
tox==4.23.2
