name: "[daily] Update pydantic models"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

env:
  PYTHON_VERSION: '3.10'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  generate:
    name: Model generation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Create venv
        run: |
            python3 -m venv dev_env
            pip install -e .[build,tests]

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools tox tox-gh-actions
          mkdir docker-compose-artifact

      - name: Start HPS services
        id: hps-services
        uses: ansys/pyhps/.github/actions/hps_services@main
        with:
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          ghcr-username: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          ghcr-token: ${{ secrets.PYANSYS_CI_BOT_PACKAGE_TOKEN }}
          version: 'latest-dev'
          feature: 'main'
          profile: 'backend'

      - name: Generate models
        run: |
            source dev_env/bin/activate
            ./scripts/generate_models.sh
            ls -lah
            sudo rm -rf out

      - name: Adjust permissions
        run: |
            sudo chown -R $USER:$USER .

      - name: "Create PR if changes detected"
        id: create-pr
        if: startsWith(github.ref, 'refs/heads/main')
        uses: peter-evans/create-pull-request@v7
        with:
          title: "[Auto] Update pydantic models"
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          base: main
          branch: maint/model_updates
          delete-branch: true
          reviewers: nezgrath
          add-paths: |
            src/ansys/hps/data_transfer/client/models
